<ngx-spinner  type="ball-scale-multiple"></ngx-spinner>
<div class="table-responsive">

<table datatable [dtOptions]="dtOptions"  [attr.id]='"releaseDatatable"+count'  [dtTrigger]="dtTrigger" class="row-border table table-bordered hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Company Name</th>
            <th>Company Short Name</th>
            <th>Status</th>
            <th>Created Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let company of companies;let i=index">
            <td>{{i+1}}</td>
            <td>{{company.company_name}}</td>
            <td>{{company.company_short_name}}</td>
            <td>
                <span class="badge badge-primary">
                    {{company.company_status}}</span>
            </td>
            <td>
                {{company.createdAt | date:'medium' }}
            </td>
            <td>
                <a [routerLink]="['edit/',company._id]" class="btn btn-primary btn-sm rounded-circle"><i class="fas fa-edit"></i></a>

                <button
                 (click)="changeStatus(company._id,company.company_status)"
                 class="btn btn-info ml-3 btn-sm rounded-circle">
                    <i
                    [ngClass]="company.company_status === 'Enable'
                    ? 'fa-solid fa-toggle-on' : 'fa-solid fa-toggle-off'"
                        class="fa-solid"></i></button>
                <button class="btn btn-danger rounded-circle ml-3 btn-sm rounded-circle" (click)="deleteCompany(company._id)" >
                    <i class="fa-solid fa-trash-can"></i></button>
            </td>
        </tr>






    </tbody>
</table>
</div>
