<sb-layout-dashboard
    >
    <sb-dashboard-head title="Supplier  Management" [hideBreadcrumbs]="true"></sb-dashboard-head
    ><sb-card
        ><div class="card-body ml-auto ">
           <Supplier-Model (supplierChild)="callFromChild($event)" >
           </Supplier-Model>
        </div></sb-card
    ><sb-card
        ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>User Management</div>
        <div class="card-body"><sb-Supplier [pageSize]="6"></sb-Supplier></div></sb-card
></sb-layout-dashboard>



