<sb-layout-dashboard
    >
    <sb-dashboard-head title="Users Management" [hideBreadcrumbs]="true"></sb-dashboard-head
    ><sb-card
        ><div class="card-body ml-auto ">
           <a class="btn btn-primary" [routerLink]="['/users/addUser']">Add Users</a>
        </div></sb-card
    ><sb-card
        ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>User Management</div>
        <div class="card-body">
            <sb-users ></sb-users>
        </div></sb-card
></sb-layout-dashboard>



